################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CloudComputing/v16
/.vs/VSWorkspaceState.json
/CloudComputing.API/.vs/CloudComputing.API/v16
/CloudComputing.API/bin/Debug/net5.0
/CloudComputing.API/obj
/WebAPI/.vs/WebAPI
/WebAPI/obj
