################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CloudComputing/v16
/.vs/VSWorkspaceState.json
/CloudComputing.API/.vs/CloudComputing.API/v16
/CloudComputing.API/bin/Debug/net5.0
/CloudComputing.API/obj
/WebAPI/.vs/WebAPI
/WebAPI/obj
/ConfigService/bin/Debug/netstandard2.0
/ConfigService/obj
/SPA.Test/obj
/WebAPI/bin/Debug/net5.0
/WebAPI.Test/bin/Debug/netcoreapp3.1
/WebAPI.Test/obj
/ConfigService/bin/Release/netstandard2.0
/WebAPI.Test/bin/Release/net5.0
