<div class="container">
    <h1>New Car</h1>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <input type="text" [(ngModel)]="car.brand" matInput >
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Model</mat-label>
            <input type="text" [(ngModel)]="car.model" matInput >
        </mat-form-field>
    </p>   
    <p>
        <mat-form-field appearance="fill">
            <mat-label>VinNo</mat-label>
            <input type="text" [(ngModel)]="car.vinNo" matInput >
        </mat-form-field>
    </p>  
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Engine</mat-label>
            <input type="text" [(ngModel)]="car.engine" matInput >
        </mat-form-field>
    </p>   
    <p>
        <mat-form-field appearance="fill">
            <mat-label>FuelType</mat-label>
            <mat-select placeholder="Select Role" [(ngModel)]="car.fuelType">
                <mat-option *ngFor="let key of keys; let i = index" [value]="key">
                     {{fuelTypes[i]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>   
    <p>
        
            <mat-label>ManualGearbox</mat-label>
            <mat-checkbox class="example-margin" [(ngModel)]="car.manualGearbox" ></mat-checkbox>
       
    </p> 
    <p>
        <mat-form-field appearance="fill">
            <mat-label>NumberPlate</mat-label>
            <input type="text" [(ngModel)]="car.numberPlate" matInput >
        </mat-form-field>
    </p>   
    <p>
        <mat-form-field appearance="fill">
            <mat-label>ProductionDate</mat-label>
            <input type="date" matInput [(ngModel)]="car.productionDate">
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button (click)="onSubmit()" type="button">Create</button>
        <button mat-raised-button routerLink="/cars/{{id}}">Cancel</button>
    </p>
</div>